header{
    height: 70px;
    width: 100%;
    margin: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
}
ul>li{
    display: inline;
    margin-left: 10px;
}
button
{
    background-color: aliceblue;
    border-radius: 30px;
    padding: 10px;
    margin-right:20px ;

    font-family: sans-serif;
}